name: research
on: push
jobs:
  setup:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      # https://docs.github.com/ja/actions/reference/workflows-and-actions/workflow-commands
      - name: Setup OpenCL environment
        if: startsWith(matrix.os, 'ubuntu')
        run: |
            echo "::group::apt update"
            sudo apt-get update
            echo "::endgroup::"
            echo "::group::poclインストール"
            sudo apt-get install -y --no-install-recommends pocl-opencl-icd
            echo "::endgroup::"
  config:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    needs: setup
    steps:
      - name: Configure CMake
        run: |
            cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    needs: config
    steps:
      - name: Build DLL and Test
        run: |
            cmake --build build --config Release
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    needs: build
    steps:
      - name: Do Test
        run: |
            ctest --test-dir build -C Release
