name: research
on: push
jobs:
  ci:
    strategy:
      matrix:
        os: [windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      # https://docs.github.com/ja/actions/reference/workflows-and-actions/workflow-commands
      - name: Setup OpenCL environment(Ubuntu Only)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
            echo "::group::apt update"
            sudo apt-get update
            echo "::endgroup::"
            echo "::group::poclインストール"
            sudo apt-get install -y --no-install-recommends pocl-opencl-icd
            echo "::endgroup::"
      - name: Install CUDA
        if: startsWith(matrix.os, 'windows')
        uses: Jimver/cuda-toolkit@v0.2.29
        id: cuda-toolkit
        with:
          cuda: '12.5.0'
          method: 'network'  # https://github.com/Jimver/cuda-toolkit/issues/392#issuecomment-3311921753
      - name: Configure CMake
        run: |
            cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON
      - name: Build DLL and Test
        run: |
            cmake --build build --config Release
      - name: Do Test
        run: |
            ctest --test-dir build -C Release --output-on-failure
