name: ci
on: push
jobs:
  ci:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      # https://docs.github.com/ja/actions/reference/workflows-and-actions/workflow-commands
      - name: Setup OpenCL environment(Ubuntu Only)
        if: startsWith(matrix.os, 'ubuntu')
        run: |
            echo "::group::リポジトリ登録"
            echo "::group::GPGキー登録"
            wget -O- https://apt.repos.intel.com/intel-gpg-keys/GPG-PUB-KEY-INTEL-SW-PRODUCTS.PUB | gpg --dearmor | sudo tee /usr/share/keyrings/oneapi-archive-keyring.gpg > /dev/null
            echo "::group::sources.list登録"
            echo "deb [signed-by=/usr/share/keyrings/oneapi-archive-keyring.gpg] https://apt.repos.intel.com/oneapi all main" | sudo tee /etc/apt/sources.list.d/oneAPI.list > /dev/null
            echo "::group::apt update"
            sudo apt-get update
            echo "::endgroup::"
            echo "::group::Intel OneAPI OpenCLランタイムのインストール"
            sudo apt-get install -y --no-install-recommends intel-oneapi-runtime-opencl
            echo "::endgroup::"
      - name: Configure CMake
        run: |
            cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DBUILD_TESTING=ON
      - name: Build DLL and Test
        run: |
            cmake --build build --config Release
      - name: Do Test
        run: |
            echo "::group::clinfo"
            build/_deps/clinfo-build/clinfo
            echo "::endgroup::"
            echo "::group::テスト実行"
            ctest --test-dir build -C Release --output-on-failure
            echo "::endgroup::"
